/* @override 
	http://brma-dev.local:8080/sites/default/files/css_injector/css_injector_13.css?nazkwo */

/** BRMA Custom
===================================*/
div.upcomingexhib {
  	width: 95%;
  	float: left;
  }

div.outsideslidert {
width: 5%;
	float: left;
}

.slide {
	background: #ffffff;
	width: 305px;
	margin-bottom: 220px;
}

.slide :hover{
	background: #c6c5c7;

}

#exhib_slide :hover {
	background: #c6c5c7;
}


div.exhib_info {
	padding: 15px;
}

div.exhib_title {
	
	color: #333;
font-style: normal;
font-weight: 800;
font-size: 13px;
letter-spacing: 0;
line-height: 16px;
text-transform: uppercase;
transition: color .1s linear;
-webkit-transition: color .1s linear;
	margin-bottom: 10px;
}

div.exhib_date {
		color: #8d8d8d;
font-style: normal;
font-weight: 600;
font-size: 13px;
letter-spacing: 0;
line-height: 16px;
text-transform: uppercase;
transition: color .1s linear;
-webkit-transition: color .1s linear;

}
div.exhib_title a{
	color: #000000;
}